/runtime
/application/database.php
/public/upload/goods/thumb/*
/vendor/topthink/think-captcha/assets/bgs/*
.vscode
.project
.idea
/public/upload/goods/thumb/
/public/upload/head_pic/*
/public/upload/ad/*
/public/upload/article/*
/public/upload/brand/*
/public/upload/category/*
/public/upload/goods/*
/public/upload/link/*
/public/upload/logo/*
/public/upload/shop/*
/public/upload/plugins/*
/public/upload/poster/*
/public/upload/shipping_logo/*
/public/upload/sqldata/*
/public/upload/qr_code/*
/public/upload/temp/*
/public/upload/topic/*
/public/upload/user/*
