/*最外边框*/
.wrap_com {
	padding-top: .88rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 7.5rem;
	height: auto;
}
/*Tab切换*/
.tabWrap_com {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-moz-box-pack: space-around;
	-webkit-box-pack: space-around;
	box-pack: space-around;
	width: 7.5rem;
	height: .88rem;
}
.tabBox_com {
	padding-top: .1rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 20%;
	height: .88rem;
	text-align: center;
	font: .26rem/.34rem "微软雅黑";
	color: #333;
	letter-spacing: .01rem;
}
.tabBox_com_active {
	color: #e82f5c;
	border-bottom: .08rem solid #e82f5c;
}
