* {
	margin: 0;
	padding: 0;
}
/*头部 wepa*/
.headWrap_lb {
	position: relative;
	padding-left: .76rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 7.5rem;
	height: .8rem;
	background-color: #fff;
}
.returnBut_lb {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: .76rem;
	height: .8rem;
}
.returnBut_lb .returnIcon_lb {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: .18rem;
	height: .27rem;
}
/*Tab*/
.headTab_lb {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
	justify-content: space-around;
	-moz-box-pack: space-around;
	-webkit--moz-box-pack:space-around;
	box-pack:space-around;
	width: 5.98rem;
	height: 100%;
}
/*项*/
.headTabTerm_lb {
	font: .3rem/.8rem "微软雅黑";
	letter-spacing: .02rem;
	color: #000;
}
/*active*/
.activeTab_lb {
	color: #e82f5c;
	border-bottom: .05rem solid #e82f5c;
}


/*public 省略号*/
.publicEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*去除input默认样式*/
input {
	/*IOS*/
	-webkit-appearance:none; 
	background: none;
	border: none;
	outline: none;
}
/*清除浮动代码 '父元素'*/
.clearfloat:after{
	display: block;
	clear: both;
	content:" ";
	visibility: hidden;
	height: 0;
}
.clearfloat{
	zoom: 1;
}
/*透明度*/
.publicOpacity {
	filter:alpha(opacity=0);          
	-moz-opacity:0;          
	-khtml-opacity: 0;          
	opacity: 0; 
}